* {
    position: relative;
}

body {
    overflow-x: hidden;
}

#hero {
    overflow: hidden;
}

#hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-overlay {
    background: radial-gradient(circle,
            rgb(0, 0, 0, 0),
            rgb(0, 0, 0, 0.25));
}